@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: rgba(84, 65, 255, 0.698);
}

.title{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #FFF;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 130px;
  height: 130px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.front_card, .back_card{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
  backface-visibility: hidden;

  /*backface~: hidden => faz com que os itens que estejam invertidos não sejam exibidos (seja no eixo X ou no eixo Y)
  Exemplo:
  https://www.w3schools.com/cssref/trycss3_backface_inuse.htm
  */
}

.front_card{
  transform: rotateY(180deg);
  background-color: #020255;
}

.flip{
  transform: rotateY(180deg);
}

.back_card{
  background-color: rgb(255, 166, 0);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #020255;
  /* display: none; */
}

#gameOver{
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.753);
  color: #FFF;
  font-size: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  top: 0;
}

#restart{
  padding: 20px;
  font-size: 20px;
  background-color: red;
  border-radius: 10px;
  font-weight: 700;
  color: yellow;
  border: none;
  box-shadow: 1px 1px 1px black;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#restart:hover{
  transform: scale(1.1)
}

#gameBoard{
  padding-bottom: 20px;
  max-width: 800px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

